<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/com/caoyuan/senior1/week3/domain" />
      </ProjectProfile>
    </option>
  </component>
</project>